<% provide(:title, 'About Us') %>
<h1>About Us</h1>
	<p>
		The Skeleton application is an application built on the Ruby on Rails web framework.  The purpose of Skeleton is to create a familiar starting point for the web development process.
	</p>
	<p>
		The Skeleton application should include most functionality that the majority of web developers deem to be essential as a starting point.
	</p>
	<p>Hack this application!</p>
	